@model Dish
@using ChefsAndDishesCeeSharp.Models
<div class="text-center">
    <h1>Add a new Dish!</h1>
</div>
    <a href="/seeDishes" class ="btn btn-primary btn-outline-info btn-lg fs-3">See Dishes</a>

<form action = "/add/dish" method ="post" class = "text-success bg-dark container d-flex justify-content-around fs-5">
        <div class=>
            <div>
                <select asp-for="ChefId">Name of Chef>
                @foreach(Chef o in ViewBag.AllChefs)
                {
                    <option value = "@o.ChefId">@o.ChefFirstName @o.ChefLastName</option>
                }
                </select>

            </div>
            <div>
                <label for="DishName">Name of Dish</label>
                <input asp-for="DishName" class = "col-form-label form-control">
                <span asp-validation-for= "DishName" class ="text-danger"></span>
            </div>
            <div>
                <label for="Calories">How many Calories</label>
                <input asp-for="Calories" class = "col-form-label form-control">
                <span asp-validation-for= "Calories" class ="text-danger"></span>
            </div>
        </div>
        <div>
            <div>
                <label for="Tastiness">Tastiness</label>
            </div>
            <div>
                <select asp-for="Tastiness">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class=>
            <label for="Description">Description</label>
            <textarea class = "form-control" asp-for="Description" rows = "3" cols = "80"></textarea>
            <span asp-validation-for= "Description" class ="text-danger"></span>
            <div>
            <input type="submit" value = "Add Dish" class ="btn btn-primary btn-outline-info btn-lg fs-3"></input>
            </div>
        </div>
</form>