@model LogUser


<div class="row text-center bg-dark fs-5">
    <div class ="text-info">
        <h2>Login</h2>
        <form action="/user/login" method ="post" class="text-warning">
            <div class ="form-group">
                <label for="LogEmail">Email</label>
                <input asp-for="LogEmail" class ="form-control">
                <span asp-validation-for="LogEmail" class="text-danger"></span>
            </div>
            <div class ="form-group">
                <label for="LogPassword">Password</label>
                <input asp-for="LogPassword" class ="form-control">
                <span asp-validation-for="LogPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class ="btn btn-primary btn-outline-info btn-lg">
            </div>
        </form>
    </div>
</div>