@model Wedding
@using WeddingPlannerCeeSharp.Models



<form action = "/add/wedding" method ="post" class = "text-success bg-dark  d-flex justify-content-around fs-5">
        <div>
        <h1> Plan Your Wedding</h1>
            <a href="/logoutUser" class ="btn btn-primary btn-outline-info btn-lg">Logout</a>
            <a href="/Dashboard" class ="btn btn-primary btn-outline-info btn-lg">Dashboard</a>
            <div>
                <label for="Wedder1">Wedder 1 Name</label>
                <input asp-for="Wedder1" class = "col-form-label form-control">
                <span asp-validation-for= "Wedder1" class ="text-danger"></span>
            </div>
            <div>
                <label for="Wedder2">Wedder 2 Name</label>
                <input asp-for="Wedder2" class = "col-form-label form-control">
                <span asp-validation-for= "Wedder2" class ="text-danger"></span>
            </div>
            <div>
                <label for="WeddingDate">Date of Wedding</label>
                <input asp-for="WeddingDate" class = "col-form-label form-control">
                <span asp-validation-for= "WeddingDate" class ="text-danger"></span>
            </div>
            <div>
                <label for="Address">Wedding Address</label>
                <input asp-for="Address" class = "col-form-label form-control">
                <span asp-validation-for= "Address" class ="text-danger"></span>
            </div>
            <input type="submit" value = "Add Wedding" class ="btn btn-primary btn-outline-info btn-lg fs-3"></input>
        </div>
        
</form>